In [0]:
-- CREATE TABLE student (
--     student_id INT PRIMARY KEY,
--     name VARCHAR(50),
--     age INT,
--     gender CHAR(1),
--     grade VARCHAR(10)
-- );

INSERT INTO student (student_id, name, age, gender, grade) VALUES
(1, 'Rahul Mehta', 16, 'M', '10th'),
(2, 'Sneha Kapoor', 15, 'F', '9th'),
(3, 'Arjun Reddy', 17, 'M', '11th'),
(4, 'Priya Nair', 16, 'F', '10th'),
(5, 'Kiran Das', 18, 'M', '12th');